# Environment variables

# Reports
reports/*
!reports/.gitkeep
!reports/allure-results/
reports/allure-results/*
!reports/allure-results/.gitkeep
__pycache__/
*.pyc
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temp files
data/temp/
